<div class="bg-dark vh-100 w-100">
  <div class="container-sm p-5">
    <div class="d-flex justify-content-between">
      <h1 class="text-white">Anonymous Questions</h1>
      <button type="button" class="btn btn-primary my-1" (click)="openNewQuestion()">Ask a Question</button>
    </div>
    <div>
      <app-question *ngFor="let question of this.questions" [question]="question" (markAsReadEmitter)="removeQuestion($event)"></app-question>
      <h3 *ngIf="this.questions.length === 0" class="text-white text-center opacity-50 my-5">No questions to display</h3>
    </div>
  </div>
  <app-new-question 
    *ngIf="isNewQuestionOpen" 
    (cancel)="this.isNewQuestionOpen=false" 
    (addQuestionEmitter)="addQuestion($event)">
  </app-new-question>
</div>